aws_region   = "us-east-1"
project_name = "eks-karpenter-terraform"
environment  = "dev"

cluster_name = "eks-karpenter-dev"

vpc_cidr = "10.0.0.0/16"

private_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

public_subnet_cidrs = [
  "10.0.101.0/24",
  "10.0.102.0/24"
]

tags = {
  Project     = "eks-karpenter-terraform"
  Environment = "dev"
  ManagedBy   = "terraform"
}

payments_secret_arns = [
  "arn:aws:secretsmanager:us-east-1:123456789012:secret:dev/payments-microservice/db-credentials-*"
]

github_org  = "Tharunkn569"
github_repo = "eks-karpenter-terraform"